
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Header
{
    Trang Chủ
    }
<section class="row"> 
    <section class="panel">
        <header class="panel-heading">
            <p>Nội Dung Của Trang Chủ </p>
        </header>
    </section>
</section>